<script>
    $("#btnadd").click(function(){
        //console.log("Add Clicked");
        output = "";
        let sym = $("#symid").val();
        let nqty = $("#qtyid").val();
        let aprice = $("#priceid").val();
        let sec = $("#sectorid").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log(sym);
        mydata = {symbol:sym, qty:nqty, price:aprice, sector:sec, csrfmiddlewaretoken:csr};
        $.ajax({
            url: "{% url 'save' %}",
            method: "POST",
            data: mydata,
            dataType: "json",
            success: function(data){
                x = data.nhd
                ns = x['symbol']
                nq = x['net_qty']
                np = x['avg_price']
                nl = x['ltp']
                nst = x['sector']
                let pl = 0;
                let tam = 0;
                for (let i = 0; i < ns.length; i++) {
                    pl += (nq[i]*(nl[i]-np[i]));
                    tam+= (nq[i]*np[i])
                }
                let plp = 0
                if(tam!=0) plp= pl*100/tam
                if(data.status == 1){
                    for(i=0; i<ns.length; i++){
                        output += "<tr><td>" + ns[i] + "</td><td>" + nq[i] + "</td><td>" + np[i] + "</td><td>" + (nq[i]*np[i]) + "</td><td>" + nl[i] + "</td><td>" + (nq[i]*nl[i]) + "</td><td>" + (nq[i]*nl[i] - nq[i]*np[i]) + "</td></tr>";
                    }
                    $("#tbody").html(output);
                    $("#plt").html(pl);
                    $("#pltp").html(plp);
                    $("form")[0].reset();
                    console.log("Data Added!");
                }
                else if(data.status == 0){
                    console.log("Data Not Saved!");
                }
            },
        });
    });
</script>
